---
# Source: couchdb/templates/networkpolicy.yaml
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: default-db-couchdb
  labels:
    app: couchdb
    chart: couchdb-3.3.4
    release: default-db
    heritage: Helm
spec:
  podSelector:
    matchLabels:
      app: couchdb
      release: default-db
  ingress:
    - ports:
        - protocol: TCP
          port: 5984
    - ports:
        - protocol: TCP
          port: 9100
        - protocol: TCP
          port: 4369
      from:
        - podSelector:
            matchLabels:
              app: couchdb
              release: default-db
  policyTypes:
    - Ingress
---
# Source: couchdb/templates/serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: default-db-couchdb
  labels:
    app: couchdb
    chart: couchdb-3.3.4
    release: default-db
    heritage: Helm
---
# Source: couchdb/templates/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: default-db-couchdb
  labels:
    app: couchdb
    chart: "couchdb-3.3.4"
    heritage: "Helm"
    release: "default-db"
data:
  inifile: |
    [chttpd]
    bind_address = any
    require_valid_user = false
    
    [couchdb]
    uuid = 05d35b57-1b6c-4575-881d-432d95038948
---
# Source: couchdb/templates/headless.yaml
apiVersion: v1
kind: Service
metadata:
  name: default-db-couchdb
  labels:
    app: couchdb
    chart: couchdb-3.3.4
    release: default-db
    heritage: Helm
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
    - name: couchdb
      port: 5984
  selector:
    app: couchdb
    release: default-db
---
# Source: couchdb/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: default-db-svc-couchdb
  labels:
    app: couchdb
    chart: couchdb-3.3.4
    release: default-db
    heritage: Helm
spec:
  ports:
    - port: 5984
      protocol: TCP
      targetPort: 5984
  type: ClusterIP
  selector:
    app: couchdb
    release: default-db
---
# Source: couchdb/templates/statefulset.yaml
apiVersion:  apps/v1
kind: StatefulSet
metadata:
  name: default-db-couchdb
  labels:
    app: couchdb
    chart: couchdb-3.3.4
    release: default-db
    heritage: Helm
spec:
  replicas: 1
  serviceName: default-db-couchdb
  podManagementPolicy: Parallel
  selector:
    matchLabels:
      app: couchdb
      release: default-db
  template:
    metadata:
      labels:
        app: couchdb
        release: default-db
    spec:
      serviceAccountName: default-db-couchdb
      initContainers:
        - name: init-copy
          image: "busybox:latest"
          imagePullPolicy: Always
          command: ['sh','-c','cp /tmp/chart.ini /default.d; cp /tmp/seedlist.ini /default.d; ls -lrt /default.d;']
          volumeMounts:
          - name: config
            mountPath: /tmp/
          - name: config-storage
            mountPath: /default.d
      containers:
        - name: couchdb
          image: "couchdb:3.1.0"
          imagePullPolicy: IfNotPresent
          ports:
            - name: couchdb
              containerPort: 5984
            - name: epmd
              containerPort: 4369
            - containerPort: 9100
          env:
            - name: COUCHDB_USER
              valueFrom:
                secretKeyRef:
                  name: default-db-couchdb
                  key: adminUsername
            - name: COUCHDB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: default-db-couchdb
                  key: adminPassword
            - name: COUCHDB_SECRET
              valueFrom:
                secretKeyRef:
                  name: default-db-couchdb
                  key: cookieAuthSecret
            - name: ERL_FLAGS
              value: " -name couchdb  -setcookie monster "
          livenessProbe:
            httpGet:
              path: /_up
              port: 5984
            failureThreshold: 3
            initialDelaySeconds: 0
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          readinessProbe:
            httpGet:
              path: /_up
              port: 5984
            failureThreshold: 3
            initialDelaySeconds: 0
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            {}
          volumeMounts:
          - name: config-storage
            mountPath: /opt/couchdb/etc/default.d
          - name: database-storage
            mountPath: /opt/couchdb/data
      volumes:
        - name: config-storage
          emptyDir: {}
        - name: config
          configMap:
            name: default-db-couchdb
            items:
              - key: inifile
                path: chart.ini
              - key: seedlistinifile
                path: seedlist.ini
  volumeClaimTemplates:
    - metadata:
        name: database-storage
        labels:
          app: couchdb
          release: default-db
      spec:
        accessModes:
          - "ReadWriteOnce"
        resources:
          requests:
            storage: "2Gi"
        storageClassName: "longhorn"
---
# Source: couchdb/templates/ingress.yaml
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: default-db-couchdb
  labels:
    app: couchdb
    chart: couchdb-3.3.4
    release: default-db
    heritage: Helm
  annotations:
spec:
  rules:
    - host: cdb.ep.cluster.amoraes.info
      http:
        paths:
          - path: "/"
            backend:
              serviceName: default-db-couchdb
              servicePort: 5984
